/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

.about {
    margin-bottom: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ745-wnCbHKBHgKyvzeai-dSOB4MZTXySrzAGcLLGHexRQbnglFw);
    background-position: 20% 25%;
    background-size: cover;
    background-position: center center;
    color: white;
    background-repeat: no-repeat;
    width: 100%;
}